@import helper._
@import play.mvc.Http.Request
@import views.SearchDTO
@(newSearchForm: play.data.Form[SearchDTO])(implicit messages: play.i18n.Messages)
@main("Welcome to Gitterific") {
  		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					
  					
  					
					@helper.form(action = routes.HomeController.getSearchResults()) {
    					@helper.inputText(newSearchForm("searchTerm"))
    					<button type="submit" class="btn btn-primary btn-block">Search</button>
					}
				</div>
  			</body>
  		</html>
}