@(arrayListOfResult: ArrayList[LinkedHashMap[String,List[model.SearchRepoModel]]])
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h1 >Gitterific</h1>
  					</div>
				</div>
				<div class="container">
					@for(mapOfSearchAndResult <- arrayListOfResult) {
						@for((keyword,repoList) <- mapOfSearchAndResult) {
						<p> @keyword </p>
							<ul>
							@for(repo <- repoList) {
								<li>
									<ol type="1">
										<li><h1>OWNER: <a href='@routes.HomeController.getUserData(repo.getUserName())'>@repo.getUserName()</a></h1></li>
										<li><h1>REPO NAME: <a href='@routes.HomeController.getRepoIssues(repo.getUserName(), repo.getRepoName())'>@repo.getRepoName()</a></h1></li>
										<li>
											@for(topic <- repo.getTopics()) {
												<p>@topic</p>
											}
										</li>
									</ol>
								</li>
								<hr>
							}
							</ul>
						}
					}
 				</div>
  			</body>
  		</html>
  		
}
