@(request: play.mvc.Http.Request, arrayListOfResult: ArrayList[LinkedHashMap[String,List[model.SearchRepoModel]]])
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
  				<script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  				<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>  
			</head>
			<body data-ws-url="@routes.HomeController.ws.webSocketURL(request)">
				<div id="time"></div>
				<div class="container">
					@for(mapOfSearchAndResult <- arrayListOfResult) {
						@for((keyword,repoList) <- mapOfSearchAndResult) {
						<p>Search Term : @keyword </p>
							<ul>
							@for(repo <- repoList) {
								<li>
									<ol type="1">
										<li><h1>User: <a href='@routes.HomeController.getUserData(repo.getUserName())'>@repo.getUserName()</a> / Repo : <a href='@routes.HomeController.getRepoData(repo.getUserName(), repo.getRepoName())'>@repo.getRepoName()</a></h1></li>
											<span>Topics : </span>
											@for(topic <- repo.getTopics()) {
												<span><a href='@routes.HomeController.getTopicData(topic)' target="_blank">@topic</a> ,</span>
											}										
									</ol>
								</li>	
								</br>							
							}					
							</ul>
							<hr>
						}
					}
 				</div>
  			</body>
  		</html>
  		
}
