@(repoList: List[org.eclipse.egit.github.core.SearchRepository])
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h1 >Gitterific</h1>
  					</div>
				</div>
				<div class="container">
					<ul>
					@for(repo <- repoList) {
					<li>
						<ol type="1">
							<li><h1>NAME: <a href='@routes.RepoIssueController.getRepoIssues(repo.getOwner(), repo.getName())'>@repo.getName()</a></h1></li>
							<li><h1>OWNER: <a href='@routes.UserDataController.getUserData(repo.getOwner())'>@repo.getOwner()</a></h1></li>
						</ol>
					</li>
					}
					</ul>
 				</div>
  			</body>
  		</html>
  		
}
