@(topicData: List[model.TopicDataModel])
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h3>Repositories filtered based on the Pushed Date and Given Topic Name</h3>
  					</div>
				</div>
				<div class="container">
					<ol type="1">
						@for(data <- topicData) {
						<li>
							<h4>NAME : @data.getName()</h4>
							<ul>
								<li><h4>ID : @data.getId()</h4></li>
								<li><h4>LANGUAGE : @data.getLanguage()</h4></li>
								<li><h4>CREATED ON : @data.getCreatedAt()</h4></li>
								<li><h4>DESCRIPTION : @data.getDescription()</h4></li>
								<li><h4>OWNER : @data.getOwner()</h4></li>
								<li><h4>SIZE : @data.getSize()</h4></li>
								<li><h4>PUSHED AT : @data.getPushedAt()</h4></li>
								<li><h4>REPOSITORY URL : <a href="@data.getUrl()" target="_blank">Repository Link</a> </h4></li>
							</ul>
						</li>
						}
					</ol>
 				</div>
  			</body>
  		</html>
  		
}
