@(topicData: List[model.TopicDataModel])
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h3 style="font-size:2vw;"><b>Latest 10 Repositories filtered by Pushed Date</b></h3><br/>
  					</div>
				</div>
								<div class="container">
					<ol type="1">
						@for(data <- topicData) {
						<li>
							<h4 style="font-size:1.5vw;"><b>Name</b> : @data.getName()</h4>
							<ul>
								<li><h4 style="font-size:1.5vw;"><b>ID</b> : @data.getId()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Language</b> : @data.getLanguage()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Created On</b> : @data.getCreatedAt()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Description</b> : @data.getDescription()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Owner</b> : @data.getOwner()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Size</b> : @data.getSize()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Puhsed At</b> : @data.getPushedAt()</h4></li>
								<li><h4 style="font-size:1.5vw;"><b>Repository URL</b> : <a href="@data.getUrl()" target="_blank">Repository Link</a> </h4></li>
							</ul>
							<br/><br/>
						</li>
						}
					</ol>
 				</div>
  			</body>
  		</html>
  		
}
