@(data: model.UserDetails)
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h1 >Gitterific</h1>
  					</div>
				</div>
				<div class="container">
					<h4>ID : @data.getId()</h4>
					<h4>Email : @data.getEmail()</h4>					
					<h4>Location : @data.getLocation()</h4>
					<h4>AvatarUrl : @data.getAvatarUrl()</h4>
					<h4>Blog : @data.getBlog()</h4>
					<h4>Company : @data.getCompany()</h4>
					<h4>Name : @data.getName()</h4>
					<h4>CreatedAt : @data.getCreatedAt()</h4>
					<h4>Followers : @data.getFollowers()</h4>					
					<h4>Following : @data.getFollowing()</h4>
					<h4>Hireable : @data.isHireable()</h4>
					<h4>HtmlUrl : @data.getHtmlUrl()</h4>
					<h4>Login : @data.getLogin()</h4>
					<h4>OwnedPrivateRepos : @data.getOwnedPrivateRepos()</h4>
					<h4>PrivateGists : @data.getPrivateGists()</h4>
					<h4>PublicGists : @data.getPublicGists()</h4>
					<h4>PublicRepos : @data.getPublicRepos()</h4>
					<h4>Type : @data.getType()</h4>
					<h4>Url : @data.getUrl()</h4>

  					    		@for(repo <- data.getRepoName()) {
  					    			<ol type="A">
  					    				<li>				    					
  					    						<li><h4>Repo Name : <a href='@routes.HomeController.getRepoData(data.getLogin(), repo)'>@repo</a></h4></li>
  					    				</li>
  					    			</ol>
  					    		}
 				</div>
  			</body>
  		</html>
  		
}
