@(data: model.UserDetails)
@main("Welcome to Gitterific") {
		<!DOCTYPE html>
		<html>
			<head lang="en">
  				<meta charset="UTF-8">
			</head>
			<body>
				<div class="container">
  					<div class="jumbotron">
    					<h1 >Gitterific</h1>
  					</div>
				</div>
				<div class="container">
					<p>Id</p>
					<h3>@data.getId()</h3>
					<p>Email</p>
					<h3>@data.getEmail()</h3>
					<p>AvatarUrl</p>
					<h3>@data.getAvatarUrl()</h3>
					<p>Blog</p>
					<h3>@data.getBlog()</h3>
					<p>Email</p>
					<h3>@data.getEmail()</h3>
					<p>AvatarUrl</p>
					<h3>@data.getAvatarUrl()</h3>
					<p>Blog</p>
					<h3>@data.getBlog()</h3>
 				</div>
  			</body>
  		</html>
  		
}
